h3 {
    font-size: 50px;
    font-weight: bold;
}

img {
    width: 10%;
}

#week,
#name {
    font-weight: bold;
    font-size: 20px;
}

#time {
    font-weight: bold;
    font-size: 100px;
}

#username {
    display: block;
}

input {
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.container {
    border-radius: 10px; /* Ajuste o valor conforme desejado */
    overflow: hidden; /* Garante que o conteúdo dentro do container não ultrapasse as bordas arredondadas */
}